/*********************************
     RESET — تنظيف التنسيقات الأساسية
*********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*********************************
     BODY — التنسيق العام للصفحة
*********************************/
body {
    background-color: #FAF4E6;
    font-family: "Noto Sans Arabic", sans-serif;
    padding-top: 120px !important;  /* لأن النافبار ثابت */
}


/*********************************
     COLORS — ألوان ثابتة للموقع
*********************************/
:root {
    --brown-dark: #4A2E1F;
    --cream-light: #FAF4E6;
    --cream-soft: #F3E8D2;
    --caramel: #D2A673;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.login-form{
    height: 500px;
    width: 700px;
    background-color: var(--brown-dark);
}